:root {
  --primary: #000305;
  --secondary: #081121;
  --text: #e0e1dd;
  --secondary-text: #a7c9ed;
  --accent: #4c9df4;
}

* {
  font-family: "Poppins", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--primary);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  align-items: center;
  margin: 0% auto;
  width: fit-content;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 75px;
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    var(--accent),
    var(--secondary-text),
    var(--accent)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px var(--secondary-text);
}

.search-container {
  border: 1px solid var(--secondary);
  border-radius: 50px;
  padding: 5px 5px;
  box-shadow: 0 0 15px 3px var(--accent);
  margin-top: -1.5vw;
  height: 40px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  border: none;
  margin-left: 5px;
  outline: none;
  width: 35vw;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--secondary-text);
  background-color: transparent;
}

.search-container input::placeholder {
  color: var(--secondary-text);
}

.search-icon span {
  margin: 15px 0;
  margin-left: 5px;
  color: var(--secondary-text);
  border-radius: 50%;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

.shortcuts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 90%;
}

.shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  transition: all 0.3s;
  max-width: 100px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  height: 90px;
}

.shortcut:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.shortcut img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.shortcut p {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

.add img {
  background-color: var(--accent);
}


.modal {
  justify-content: center; 
  align-items: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  background-color: var(--secondary);
  padding: 2rem;
  transform: translate(-50%, 35%); 
  left: 50%; 
  top: 50%;
  border-radius: 8px;
  top: 0;
  width: 30rem; 
  height: 20rem; 
}

.modal h2 {
  color: var(--text);
  margin-bottom: 20px;
}


.modal label {
  color: var(--secondary-text);
  display: block;
  margin-bottom: 5px;
}

.modal input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--text);
}

.modal button {
  background-color: var(--accent);
  color: var(--text);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: var(--primary);
}

.close {
  color: var(--text);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--accent);
}
