* {
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    position: relative;
    background-color: #111315;
}

.tabs-container {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 5px;
    overflow-x: auto;
    width: 100%;
}

.tab {
    flex: 1 1 auto;
    display: flex;
    max-width: 200px;
    align-items: center;
    justify-content: space-between;
    padding: 7px 12px;
    border-radius: 8px 8px 0 0;
    background-color: #26272e;
    margin-right: 2px;
}

.tab.active {
    background-color: #111315;
}

.tab-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tab-icon {
    width: 17px;
}

.tab-title {
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
    font-size: 10px;
}

.tab-close {
    width: 12px;
    height: 12px;
}

.bottom-bar {
    display: flex;
    height: auto;
    padding: 5px 0;
    align-items: center;
    width: 100%;
    background-color: #26272e;
}

.tab-controls {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-left: 5px;
}

.tab-control {
    background-color: transparent;
    border: none;
}

.tab-control span {
    font-size: 18px;
    background: transparent;
    color: white;
    border: none;
}


.omni-box {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    border: 1px solid #1c1d22;
    width: 86vw;
    background-color: #1c1d22;
    box-sizing: border-box;
}

.omni-box:focus-within {
    border-color: #38393e;
}



.lock-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    padding: 5px;
    border-radius: 50px;
    background-color: #26272e;
    color: white;
    transform: translateY(-50%);
}

.omni-box span {
    font-size: 16px;
}

#search-input {
    padding-left: 40px;
    border: none;
    margin-right: 2.5%;
    width: 97%;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    color: white;
}

#search-input::placeholder {
    color: white;
}

.person-icon {
    width: 22px;
    height: 22px;
    margin-left: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15px;
    margin-left:15px;
}

.menu-dot {
    width: 3px;
    height: 3px;
    background-color: #e3e4e6;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .tab {
        flex: 1 1 100%;
        justify-content: space-between;
    }

    .navbar-content {
        flex-direction: column;
        align-items: flex-start;
    }
}